<!DOCTYPE html>
<html>

<head>
    <!-- Primary Meta Tags -->
    <title>nomadicloud</title>
    <meta name="title" content="nomadicloud" />
    <meta name="description" content="nomad's personal website - music and more." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nomadi.cloud/" />
    <meta property="og:title" content="nomadicloud" />
    <meta property="og:description" content="nomad's personal website - music and more." />
    <meta property="og:image" content="{{ url_for('static', filename='preview_img.jpg') }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.nomadi.cloud/" />
    <meta property="twitter:title" content="nomadicloud" />
    <meta property="twitter:description" content="nomad's personal website - music and more." />
    <meta property="twitter:image" content="{{ url_for('static', filename='preview_img.jpg') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="nomad" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

</head>

<body>


    <h1 class="header">nomadi.cloud</h1>

    <h3 class="menu">
        <a href="{{ url_for('index') }}" class="menu">home</a>
        <a href="{{ url_for('pgp') }}" class="menu">pgp-key</a>
    </h3>