<!DOCTYPE html>
<html>

<head>
    <title>nomad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="nomad" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>


    <h1 class="header">nomadi.cloud</h1>

    <h3 class="menu">
        <a href="{{ url_for('index') }}" class="menu">home</a>
        <a href="{{ url_for('pgp') }}" class="menu">pgp-key</a>
    </h3>
    